body,
html {
    font-family: "Times New Roman", sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    width: 100% !important;
    height: 100% !important;
}

.landing {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-height: 660px;
    padding: 0;
    background: #e5e5e5 url(../../assets/images/landing-image.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header {
    font-family: "Times New Roman", sans-serif;
    color: white;
    font-size: 60px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    font-weight: 400;
}
